<IfModule mod_rewrite.c>
    Options +FollowSymlinks
    RewriteEngine On
	RewriteCond %{REQUEST_URI} \..+$
	RewriteCond %{REQUEST_URI} !\.html$
	RewriteRule .* - [L]
	# the others are redirected to the front web controller
	RewriteRule ^(.*)$ index.php [QSA,L]
</IfModule>